@import "../../../assets/vars";

.col-sm-6 {
  padding: 0 15px;

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    margin-bottom: $footer-margin-bottom;
  }

  @include category-header;

  .category-header {
    margin: 10px 0;
  }

  @include button-link;
}
