@import "../../../assets/vars.scss";

.col-sm-6 {
  padding: 0 15px;

  .category-header {
    @include post-header;

    color: $post-text-color;
    font-size: $post-header-size;
    text-align: center;
    background: $post-background;

    h2 {
      @include post-header-text;
    }
  }

  @include button-link;
}
