/* You can add global styles to this file, and also import other style files */

body {
  font-family: 'Arimo', sans-serif;
  background-color: #EBF4F8;
  direction: rtl;
}

a {
  text-decoration: none !important;
}
