/* You can add global styles to this file, and also import other style files */

html {
  height: 100%;
}

body {
  font-family: 'Arimo', sans-serif;
  background-color: #EBF4F8;
  direction: rtl;
  position: relative;
  min-height: 100%;
}

a {
  text-decoration: none !important;
}

.col-sm-8,
.col-sm-4 {
  padding: 0;
}
