/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Arimo', sans-serif;
  background-color: #EBF4F8;
  direction: rtl;
  position: relative;
}

a {
  text-decoration: none !important;
}

.col-sm-8,
.col-sm-4 {
  padding: 0;
}
