<div id="main" fxLayout="row">
  <div fxFlex="24">
    <div class="category-header"><h2>באזז השבוע</h2></div>
    <wb-buzz></wb-buzz>
  </div>

  <div fxFlex="8"></div>

  <div fxFlex="30">
    <div class="category-header"><h2>משחקים</h2></div>
    <wb-post *ngFor="let post of facebookGames$ | async | slice:[0]:[5]" [post]="post"></wb-post>
    <button md-button color="accent" [routerLink]="['/facebook-games']" class="more-button">הצג עוד</button>
  </div>

  <div fxFlex="8"></div>

  <div fxFlex="30">
    <div class="category-header"><h2>טרנדים</h2></div>
    <wb-post *ngFor="let post of trends$ | async | slice:[0]:[5]" [post]="post"></wb-post>
    <button md-button color="accent" [routerLink]="['/trends']" class="more-button">הצג עוד</button>
  </div>
</div>
