@import "../../../assets/scss/vars.scss";
@import "../../../assets/scss/mixins.scss";

@include category-header;

@include button-link;

.col-sm-12 {
  a {
    color: #fff;
    border-color: transparent;

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
      margin-bottom: $footer-margin-bottom;
    }
  }
}
