@import "../../../assets/vars";

.card {
  padding: 20px;
  margin: 10px 15px;
  text-align: center;

  .inner-card {
    width: 40%;
    display: inline-block;
    border: 1px solid #c7dce6;
    border-radius: $radius;
    padding: 10px;
    margin: 0 10px;
  }

  @include card-title;

  @include post-image;

  @include button-link;
}
