$background: #ebf4f8;

$header: linear-gradient(#4e69a2, #3c5998);
$bottom_stroke: #21366e;
$navbar_link: rgba(35,53,92,0.57);
$navbar_link_text: 18px;
$post_header: #ffffff;
$post_text_color: #181818l;
$bottom_stroke: rgba(60,89,153,0.52);

$post_button_color: #0088cb;
$post_hover_color: #58bdf0;

$footer_background: #042b3a;
