$background: #ebf4f8;

/* Navbar*/
$header: linear-gradient(#4e69a2, #3c5998);
$bottom_stroke: #21366e;
$navbar_link: rgba(35,53,92,0.57);
$navbar_text: 18px;

/* etc */
$posts_radius: 4px;

/* Categories */
$categories_color: #ffffff;
$categories_bottom_stroke: solid 2px rgba(60, 89, 153, .52);
$categoriest_text_color: #181818;

/* Posts */
$post_button_color: #0088cb;
$post_hover_color: #58bdf0;
$post_border: 1px solid #c7dce6;
$post_color_title: #3b5998;



/* Footer */
$footer_background: #042b3a;
$footer_text: #a7bac9;
