@import "../../../assets/vars.scss";

@include category-header;

@mixin button {
  position: relative;
  padding: 0 15px 0 45px;
  background-image: linear-gradient(#4C69BA,#3B55A0);
  color: #ffffff;
  font-size: 16px;
  line-height: 34px;
}

.card {
  padding: 20px;
  margin: 0px 15px;

  .card-img-top {
    width: 100%;
  }

  .description {
    text-align: center;
    font-size: 20px;
  }

  .game {
    img {
      width: 100%;
    }
  }

  #spinner {
    display: block;
    margin: 0 auto;
    width: 25%;
    animation: spin 4s infinite ease;
  }

  @keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
  }

  .btn-social {
    text-align: center;
    background-color: #ebf4f8;
    padding: 15px;
    border-radius: $radius;
    margin: 15px 0;

    .btn-facebook {
      @include button;

      &:before {
        content: "";
        position: absolute;
        width: 35px;
        left: 0;
        height: 35px;
        border-right: #364e92 1px solid;
        background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
      }
    }

    .retry {
      @include button;

      i {
        float: left;
        position: absolute;
        left: 0;
        height: 35px;
        padding: 2px;
        border-right: #364e92 1px solid;
      }
    }

  }

  .tags {
    margin: 0px 15px;
    color: #949494;
    font-size: 13px;
  }
}
