<div class="col-sm-8">
  <div class="category-header">
    <h2>{{ detailPost$.title }}</h2>
  </div>

  <div class="card">
    <!-- post-top -->
    <ng2-adsense
      [adClient]="'ca-pub-7396544532701990'"
      [adSlot]="8345875466">
    </ng2-adsense>

    <img class="card-img-top" src="{{ detailPost$.banner_image }}" alt="{{ detailPost$.title }}">

    <div class="share_post_page">
      <a (click)="facebookSharePage()">
        <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
      </a>
      <a href="whatsapp://send?text=http://www.whatsbuzz.co.il/posts/{{ detailPost$.unique_id }}" data-action="share/whatsapp/share">
        <i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i>
      </a>
    </div>

    <!-- post-login -->
    <ng2-adsense
      [adClient]="'ca-pub-7396544532701990'"
      [adSlot]="9822608662">
    </ng2-adsense>

    <div class="description" [innerHTML]="detailPost$.body"></div>

    <!-- The game -->
    <div class="game" *ngIf="detailPost$.type == 'trend'" [innerHTML]="detailPost$.content | safeHtml"></div>
    <div class="game" *ngIf="detailPost$.type == 'facebook-game'">
      <img src="{{ detailPost$.content }}">
    </div>

    <img id="spinner" *ngIf="showSpinner && !detailPost$.content" src="/assets/spinner.svg" alt="WhatsBuzz Game Spinner">

    <div class="row btn-social">
      <button *ngIf="!detailPost$.content" class="btn btn-lg btn-facebook login" (click)="onFacebookLogin(detailPost$.unique_id)">
        המשך עם פייסבוק
      </button>

      <button *ngIf="detailPost$.content" class="btn btn-lg btn-facebook share" (click)="onFacebookShare()">
        שתף בפייסבוק
      </button>

      <button *ngIf="detailPost$.content" class="btn btn-lg retry" (click)="onFacebookLogin(detailPost$.unique_id)">
        <i>
          <svg fill="#ffffff" height="28" viewBox="0 0 24 24" width="28" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 4V1L8 5l4 4V6c3.31 0 6 2.69 6 6 0 1.01-.25 1.97-.7 2.8l1.46 1.46C19.54 15.03 20 13.57 20 12c0-4.42-3.58-8-8-8zm0 14c-3.31 0-6-2.69-6-6 0-1.01.25-1.97.7-2.8L5.24 7.74C4.46 8.97 4 10.43 4 12c0 4.42 3.58 8 8 8v3l4-4-4-4v3z"/>
              <path d="M0 0h24v24H0z" fill="none"/>
          </svg>
        </i>
        נסה שוב
      </button>
    </div>

    <div class="fb-comments" attr.data-href="http://whatsbuzz.co.il/{{ detailPost$.unique_id }}" data-width="100%"></div>

    <div class="row tags">
      <span>תגיות:</span>
      <span *ngFor="let tag of detailPost$.tags">{{ tag.name }} </span>
    </div>
  </div>
</div>

<div class="col-sm-4">
  <wb-recommendations></wb-recommendations>
</div>
