@import "../../../assets/scss/vars.scss";

#main {
  margin-bottom: 60px;

  .category-header {
    border-bottom: solid 2px rgba(60,89,153,.52);
    border-radius: $radius;
    padding: 5px 0;
    margin: 10px 10px 10px 20px;
    color: $post-text-color;
    font-size: $post-header-size;
    text-align: center;
    background: $post-background;

    h2 {
      font-size: 30px;
      margin: 10px 0 5px 0;

      // Medium devices (tablets, 768px and down)
      @media (max-width: 768px) {
        font-size: 23px;
      }
    }
  }

  md-card {
    padding: 10px;
    margin: 0 10px;
    width: 96%;
    direction: ltr;
  }

  #wb-buzz-section {
    padding: 0 10px 0 20px;
  }
}
