footer {
  position: absolute;
  background: #042B3A;
  color: #a7bac9;
	bottom: 0;
  right: 0;
  left: 0;

  p {
    text-align: center;
    margin: 0.5em 0;
  }

  a {
    text-decoration: none;
    color: #a7bac9;
  }
}
