<nav>
  <div class="container">
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a (click)="clicked('Trends')" i18n="Trends page">Trends</a>
      </li>
      <li>
        <a (click)="clicked('Test-Yourself')" i18n="Test Yourself page">Test Yourself</a>
      </li>
      <li>
        <a (click)="clicked('Facebook-Games')" i18n="Facebook games page">Facebook Games</a>
      </li>
      <li>
        <a (click)="clicked('Main')" i18n="Main page">Main</a>
      </li>
    </ul>

    <img src="#" alt="WhatsBuzz Logo">
  </div>
</nav>
