<nav>
  <div class="container">
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a (click)="clicked('Trends')">{{ 'HEADER.trends' | translate }}</a>
      </li>
      <li>
        <a (click)="clicked('Test-Yourself')">{{ 'HEADER.testYourself' | translate }}</a>
      </li>
      <li>
        <a (click)="clicked('Facebook-Games')">{{ 'HEADER.facebookGames' | translate }}</a>
      </li>
      <li>
        <a (click)="clicked('Main')">{{ 'HEADER.main' | translate }}</a>
      </li>
    </ul>

    <img src="#" alt="WhatsBuzz Logo">
  </div>
</nav>
