@import "../../../assets/vars.scss";

nav {
  background: linear-gradient(#4e69a2,#3c5998);
  border-bottom: solid 2px #21366e;
  color: #ffffff;
  padding: 0;
  border-radius: inherit;

  .container {
    line-height: 5rem;
  }

  button {
    vertical-align: middle;
  }

  ul {
    float: right;
    font-size: 18px;
    padding: 0;

    li {
      cursor: pointer;
      padding: 3px;
      margin: 5px;
      float: left;

      :hover {
        background: rgba(35,53,92,.57);
      }

      a {
        transition: all 350ms ease;
        padding: 15px 10px;
        line-height: 20px;
        display: block;
        border-radius: $radius;
        color: #ffffff;
      }
    }
  }

  img {
    float: left;
    width: 15em;
  }
}
