@import "../../../assets/vars";

.category-header {
  @include post-header;

  color: $post-text-color;
  font-size: $post-header-size;
  text-align: center;
  background: $post-background;

  h2 {
    @include post-header-text;
  }
}

.post {
  @include post;
}

.long-post {
  .row {
    margin: 5px 0;
    border-bottom: 1px solid #c7dce6;

    h3 {
      @include post-title;
      font-size: 17px;
      width: 64%;
      display: inline-block;
    }

    .buzz-hero-image {
      height: 70px;
      width: 100px;
    }
  }

  :hover {
    background: #ebf4f8;
  }
}
