@import "../../../assets/vars";

@include category-header;

.post {
  @include post;
}

.long-post {
  margin-bottom: $footer-margin-bottom;

  .fb-page {
    margin-bottom: 10px;
  }

  .row {
    margin: 5px 0;
    border-bottom: 1px solid #c7dce6;

    h3 {
      @include post-title;
      font-size: 17px;
      width: 68%;
      display: inline-block;
    }

    .buzz-hero-image {
      height: 70px;
      width: 100px;
    }
  }

  :hover {
    background: #ebf4f8;
  }
}
