@import "../../../assets/scss/vars.scss";

.post {
  padding: 5px;
  margin: 0 15px;
  border-radius: $radius;
  border: 1px solid #c7dce6;
  background: $post-background;
}

.long-post {
  margin-bottom: $footer-margin-bottom;

  .fb-page {
    margin-bottom: 10px;
  }

  .row {
    margin: 5px 0;
    border-bottom: 1px solid #c7dce6;

    h3 {
      margin: 0;
      height: $header-height;
      color: $header-color;
      font-size: 17px;
      width: 68%;
      display: inline-block;
    }

    .buzz-hero-image {
      height: 70px;
      width: 100px;
    }
  }

  :hover {
    background: #ebf4f8;
  }
}
