<div class="categories-header">
  <h2>באזז השבוע</h2>
</div>

<div class="long-post">
  <div class="fb-page" data-href="https://www.facebook.com/WhatsBuz/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/WhatsBuz/"><a href="https://www.facebook.com/WhatsBuz/">WhatsBuzz</a></blockquote></div></div>
  <ul>
    <li class="row" *ngFor="let buzzPost of buzzPosts | async; let i = index">
      <a>
        <h3>{{i+1}}. {{buzzPost.title}}</h3>
        <img class="side-image pull-left" src="{{buzzPost.image_banner}}"/>
      </a>
    </li>
  </ul>
</div>