<div class="col-sm-4">
  <div class="categories-header">
    <h2>משחקים</h2>
  </div>

  <ul>
    <li *ngFor="let card of facebookCards | async">
      {{card.title}}
      <!--<wb-card [card]="card"></wb-card>-->
    </li>
  </ul>
</div>

<div class="col-sm-4">
  <div class="categories-header">
    <h2>בחן את עצמך</h2>
  </div>

  <ul>
    <li *ngFor="let card of facebookCards | async">
      {{card.title}}
      <!--<wb-card [card]="card"></wb-card>-->
    </li>
  </ul>
</div>


<wb-buzz></wb-buzz>

