{% extends 'layouts/base.html' %}
{% load staticfiles %}

{% block facebook %}
    <meta property="og:url"           content="http://www.whatsbuzz.co.il/posts/{{ post.slug }}" />
	<meta property="og:type"          content="website" />
	<meta property="og:title"         content="{{ post.title }}" />
	<meta property="og:description"   content="{{ post.body }}" />
	<meta property="og:image"         content="http://www.whatsbuzz.co.il/{% static post.image_banner.url %}" />
{% endblock %}

{% block content %}
    <div id="main-content">
        <div class="col-sm-12">
            <div class="col-sm-8">
                <div id="post-title" class="categories-header">
                    <h2>{{ post.title }}</h2>
                </div>
                <div class="post">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- post-top -->
                        <ins class="adsbygoogle"
                             style="display:block"
                             data-ad-client="ca-pub-7396544532701990"
                             data-ad-slot="8345875466"
                             data-ad-format="auto"></ins>
                        <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                    {% if post.image_banner %}
                        <img id="banner" src="{% static post.image_banner.url %}" alt="{{ post.title }}" />
                    {% endif %}
                    <div id="second-ad" class="row">
                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            <!-- post-login -->
                            <ins class="adsbygoogle"
                                 style="display:block"
                                 data-ad-client="ca-pub-7396544532701990"
                                 data-ad-slot="9822608662"
                                 data-ad-format="auto"></ins>
                            <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                    <div id="description" class="row">
                        <p>{{ post.body }}</p>
                        {% if not quizzes.code %}
                          <img id="FB-image-game" src="{% static image_fb_game.images.url %}">
                        {% endif %}
                    </div>

                    <div class="loader"></div>

                    {% if quizzes.code %}
                      <div id="quizzes">
                        {{ quizzes.code|safe }}
                      </div>
                      <div id="facebooklogin" class="loginFB">
                        <button id="quizzes-game">המשך למשחק</button>
                      </div>
                    {% else %}
                    <div id="facebooklogin" class="loginFB" data-post="{{ post.id }}">
                        {% include 'partials/FB-post.html' %}
                    </div>
                    {% endif %}
                    <div class="fb-comments" data-href="http://whatsbuzz.co.il/{{ post.slug }}" data-width="100%"></div>
                </div>
            </div>
            <div id="buzz" class="col-sm-4">
                <div class="categories-header">
                    <h2>באזז השבוע</h2>
                </div>
                <div class="long-post">
                    {% for single_rand_post in random_posts %}
                        <a href="{% url 'post_detail' slug=single_rand_post.slug %}" target="_blank">
                          <h2 class="random-title">{{ single_rand_post.title }}</h2>
                          <img class="random-image" src="{% static single_rand_post.image_banner.url %}" alt="{{ single_rand_post.title }}" />
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

