{% extends 'layouts/base.html' %}
{% load staticfiles %}

{% block content %}
    <div id="main-content">
        <div class="col-sm-12">
            <div class="col-sm-8">
                <div class="categories-header">
                    <h2>{{ post.title }}</h2>
                </div>
                <div class="post">
                    <img id="first-ad" src="{% static 'images/demo-ad.gif' %}" alt="google ad"/>
                    {% if post.image_banner %}
                        <img id="banner" src="{% static post.image_banner.url %}" alt="{{ post.title }}" />
                    {% endif %}
{#                    <div id="second-ad" class="row">#}
{#                        <img src="{% static 'images/google-ad.jpg' %}" alt="google ad"/>#}
{#                    </div>#}
                    <div id="description" class="row">
                        <p>{{ post.body }}</p>
                        {% if not quizzes.code %}
                          <img id="FB-image-game" src="{% static image_fb_game.images.url %}">
                        {% endif %}
                    </div>

                    <div class="loader"></div>

                    {% if quizzes.code %}
                      <div id="quizzes">
                        {{ quizzes.code|safe }}
                      </div>
                      <div id="facebooklogin" class="loginFB">
                        <button id="quizzes-game">המשך למשחק</button>
                      </div>
                    {% else %}
                    <div id="facebooklogin" class="loginFB" data-post="{{ post.id }}">
                        {% include 'partials/FB-post.html' %}
                    </div>
                    {% endif %}
                    <div class="fb-comments" data-href="http://whatsbuzz.co.il/{{ post.slug }}" data-width="100%"></div>
                </div>
            </div>
            <div id="buzz" class="col-sm-4">
                <div class="categories-header">
                    <h2>באזז השבוע</h2>
                </div>
                <div class="long-post">
                    {% for single_rand_post in random_posts %}
                        <a href="{% url 'post_detail' slug=single_rand_post.slug %}" target="_blank">
                          <h2 class="random-title">{{ single_rand_post.title }}</h2>
                          <img class="random-image" src="{% static single_rand_post.image_banner.url %}" alt="{{ single_rand_post.title }}" />
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

