@import "../../../assets/vars";

@include category-header;

.post {
  @include post;
}

.long-post {
  padding: 0;
  margin-bottom: $footer-margin-bottom;

  .row {
    margin: 5px 0;
    padding: 10px;
    border-bottom: 1px solid #c7dce6;

    h3 {
      @include post-title;
      text-align: center;
      font-size: 18px;
      height: 50px;
    }

    .buzz-hero-image {
      width: 100%;
    }
  }

  :hover {
    background: #ebf4f8;
  }
}
