{% extends 'layouts/base.html' %}

{% block content %}
    <div id="main-content">
        <div class="col-sm-12">
            <div class="col-sm-4">
                <div class="categories-header">
                    <h2>משחקים</h2>
                </div>
                {% for post in facebook_games_posts %}
                    {% include 'partials/post-card.html' %}
                {% endfor %}
                <a class="show-more" href="{% url 'facebook-games' %}">
                    <div class="row link">
                        <p>הצג עוד</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <div class="categories-header">
                    <h2>בחן את עצמך</h2>
                </div>
                {% for post in test_yourself_posts %}
                    {% include 'partials/post-card.html' %}
                {% endfor %}
                <a class="show-more" href="{% url 'test-yourself' %}">
                    <div class="row link">
                        <p>הצג עוד</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <div class="categories-header">
                    <h2>באזז השבוע</h2>
                </div>
                {% include 'partials/long-post-card.html' %}
            </div>
        </div>
    </div>
{% endblock %}