#top-nav {
    background: linear-gradient(#4e69a2, #3c5998);
    border: 0;
    border-bottom: solid 2px #21366e;
    border-radius: 0;
    font-size: 18px;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar {
    margin-bottom: 0;
}

ul.nav.navbar-nav {
    padding: 0;
    margin: 0;
}

li {
    transition: all 350ms ease;
    padding: 3px;
    margin: 5px;
    border-radius: 4px;
}

li:hover {
    background: rgba(35, 53, 92, .57);
}

#top-nav a {
    color: #fff;
}
