<form role="form" action="{% url 'contact' %}" method="post">
  {% csrf_token %}
  <h2>תיבת הצעות</h2>
  <p class="help-block">מכירים את זה שפתאום צץ לכם רעיון למשחק פייסבוק שבטוח יצליח? רוצים לקחת חלק מזה?</p>
  <div class="form-group">
    <input id="id_contact_name" name="contact_name" type="text" class="form-control" placeholder="שם מלא">
  </div>
  <textarea id="id_content" name="content" class="form-control" rows="3" placeholder="כתבו כאן את הרעיון.."></textarea>
  <div class="checkbox">
    <input id="id_checkbox" name="content_checkbox" type="checkbox">
    <label for="id_checkbox">אני מעוניין שהשם שלי יופיע על המשחק</label>
  </div>
  <button type="submit" class="btn btn-default">שלח את הרעיון</button>
</form>