<!-- FB login button -->
<button class="loginBtn loginBtn--facebook"
  {% if facebook_user_name.facebook_user_name == "full_name" %}
    data-full_user_name="true"
  {% endif %}
  {% if facebook_user_name.facebook_user_name == "first_name" %}
    data-first_user_name="true"
  {% endif %}
  {% if facebook_user_name.facebook_user_name == "last_name" %}
    data-last_user_name="true"
  {% endif %}
  {% if facebook_profile_image %}
    data-profile_image="true"
  {% endif %}
  >
  המשך עם פייסבוק
</button>
<div class="row caution">
    <span>אנחנו לעולם לא נפרסם דברים בשמך! וגם לא נשמור את המידע שלך!</span>
</div>