{% load staticfiles %}

<div class="long-post">
    <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FWhatsBuz%2F&amp;layout=box_count&amp;locale=he_IL&amp;action=like&amp;show_faces=false&amp;share=false" scrolling="no" frameborder="0" allowtransparency="true" style="border: none; overflow: hidden; width: 55px; height: 65px;"></iframe>
    {% for post in buzz_posts %}
        <a href="{% url 'post_detail' slug=post.slug %}" alt="post">
            <div class="row">
                <h2>{{ forloop.counter }}. {{ post.title }}</h2>
                {% if post.image_banner %}
                    <img class="side-image pull-left" src="{% static post.image_banner.url %}" alt="{{ post.title }}" />
                {% endif %}
            </div>
        </a>
    {% endfor %}
    {% include 'partials/contact.html' %}
</div>