{% load staticfiles %}

<div class="long-post">
    <div class="fb-page" data-href="https://www.facebook.com/WhatsBuz/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/WhatsBuz/"><a href="https://www.facebook.com/WhatsBuz/">WhatsBuzz</a></blockquote></div></div>
    {% for post in buzz_posts %}
        <a href="{% url 'post_detail' slug=post.slug %}" alt="post">
            <div class="row">
                <h2>{{ forloop.counter }}. {{ post.title }}</h2>
                {% if post.image_banner %}
                    <img class="side-image pull-left" src="{% static post.image_banner.url %}" alt="{{ post.title }}" />
                {% endif %}
            </div>
        </a>
    {% endfor %}
{#    {% include 'partials/contact.html' %}#}
</div>