{% load staticfiles %}

<div class="long-post">
    <div class="fb-share-button"
		data-href="http://www.whatsbuzz.co.il"
		data-layout="button_count">
	</div>
    {% for post in buzz_posts %}
        <a href="{% url 'post_detail' slug=post.slug %}" alt="post">
            <div class="row">
                <h2>{{ forloop.counter }}. {{ post.title }}</h2>
                {% if post.image_banner %}
                    <img class="side-image pull-left" src="{% static post.image_banner.url %}" alt="{{ post.title }}" />
                {% endif %}
            </div>
        </a>
    {% endfor %}
    {% include 'partials/contact.html' %}
</div>