body {
  direction: rtl;  /* Right to Left */
  background: $background;
}

body > .container {
  min-height: calc(100vh - 180px);
}

#top-nav {
  background: $header;
  border: 0;
  border-bottom: solid 2px $bottom_stroke;
  border-radius: 0;
  font-size: $navbar_text;

  .navbar-default {
    background-color: transparent;
    border-color: transparent;
  }

  .navbar {
    margin-bottom: 0;
  }

  ul.nav.navbar-nav {
    padding: 0;
    margin: 0;
  }

  li {
    transition: all 350ms ease;
    padding: 3px;
    margin: 5px;
    border-radius: 4px;
  }

  li:hover {
    background: rgba(35, 53, 92, .57);
  }

  a {
    color: #fff;
  }
}

#main-content {
  margin: 0;
}

#footer-nav {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
}

.navbar-brand {
  padding: 0 0 0 20px;

  img {
    height: 85%;
    display: inline-block;
    margin: -15px 0 0 10px ;
  }

  h1 {
    display: inline-block;
    margin: 15px 0 0 0;
  }
}

#footer-nav {
  background: $footer_background;
  color: $footer_text;
}

.categories-header {
  background: $categories_color;
  color: $categoriest_text_color;
  border-bottom: $categories_bottom_stroke;
  padding: 5px 0;
  border-radius: $posts_radius;
  font-size: 28px;
  text-align: center;
  margin: 10px 0;
}

.post {
  padding: 20px;
  border-radius: $posts_radius;
  border: $post_border;
  margin: 10px 0;
  background: $categories_color;

  h2 {
    text-align: center;
    font-size: 20px;
    margin: 0;
    color: $post_color_title;
  }

  a {
    color: #fff;
    text-decoration: none;

    .link {
      background: $post_button_color;
      margin: 0 auto;
      padding: 15px 0;
      text-align: center;
      font-size: 19px;
      transition: all 350ms ease;
      border-radius: $posts_radius;

      p {
        margin: 0;
      }
    }
  }

  .link:hover {
    background: $post_hover_color;
  }

  .banner-image {
    width: 100%;
    margin: 10px 0;
    height: 200px;
  }
}

a.show-more {
  color: #fff;
  text-decoration: none;

  .link {
    width: 95%;
    background: $post_button_color;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    font-size: 17px;
    transition: all 350ms ease;
    border-radius: $posts_radius;

    p {
      margin: 0;
    }
  }
}

.show-more > .link:hover {
  background: $post_hover_color;
}

#footer-nav {
  margin-top: 50px;

  p {
    height: 50px;
    line-height: 50px;
  }

  a, a:hover {
    text-decoration: none;
    color: $footer_text;
  }
}

@media only screen and (max-device-width: 770px) {
  .navbar-brand {
    h1 {
      font-size: 1.5em;
    }

    img {
      height: 75%;
      margin: -15px 0 0 0;
    }
  }

  .navbar-header {
    .navbar-toggle > span.icon-bar {
      background-color: #ffffff;
    }
  }

  #main-content > .col-sm-12 > div:nth-child(3){
    display: none;
  }

  #main-content > .col-sm-12 {
    padding: 0;

    .col-sm-4 {
      padding: 0;
    }
  }
}