.long-post {
  padding: 20px;
  border-radius: $posts_radius;
  border: $post_border;
  background: $categories_color;

  form {
    margin-top: 20px;
  }

  input {
    border-radius: 0;
  }

  textarea {
    border-radius: 0;
  }

  .row {
    border-bottom: 1px solid #c7dce6;
  }

  .row:hover {
    background: #ebf4f8;
  }

  h2 {
    font-size: 20px;
    margin: 0;
    color: $post_color_title;
    display: inline-block;
    height: 48px;
    line-height: 48px;
    padding-right: 5px;
  }

  .side-image {
    height: 48px;
  }

  input[type='checkbox'] {
    position: relative;
    margin: 0 0 0 5px;
  }

  button.btn-default {
    width: 100%;
    color: #fff;
    background: $post_button_color;
    border-radius: 0;
    transition: all 350ms ease;
  }

  button.btn-default:hover {
    background: $post_hover_color;
  }

  .checkbox > label {
    padding: 0;
  }
}