@import "../../../assets/scss/vars.scss";

.mat-card {
  padding: 20px;

  .mat-card-title {
    color: #3b5998;
    font-size: 20px;
    text-align: center;
    height: auto;
  }

  .mat-card-image {
    width: 90%;
    display: block;
    margin: 0 auto;
  }

  button.mat-button {
    margin: 10px auto 20px auto;
    background-color: $button-background;
    width: 90%;
    display: block;
    padding: 15px 0;
    color: #ffffff;
    border-radius: $radius;
    transition: all 350ms ease;
    font-size: 18px;
  }
}
